-- 1. Creazione (o selezione) del nuovo Database
CREATE DATABASE IF NOT EXISTS `archivio_omelie_nuovo` 
CHARACTER SET utf8mb4 
COLLATE utf8mb4_unicode_ci;

USE `archivio_omelie_nuovo`;

-- 2. Creazione della nuova tabella per le trascrizioni
CREATE TABLE IF NOT EXISTS `trascrizioni` (
  `id` INT AUTO_INCREMENT PRIMARY KEY,
  `nome_file` VARCHAR(255) NOT NULL,
  `testo_completo` LONGTEXT NOT NULL,
  `modello_usato` VARCHAR(50) DEFAULT 'Whisper Turbo',
  `data_omelia` DATE NULL,
  `data_trascrizione` TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
  INDEX `idx_nome_file` (`nome_file`),
  INDEX `idx_data_omelia` (`data_omelia`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;